.real-estate-component-justify-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.real-estate-component-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(212, 175, 55, 1);
}

.real-estate-component-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.real-estate-component-enquire-btn {
  width: 90%;
  background: rgba(212, 175, 55, 1);
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.real-estate-component-favorite-btn {
  padding: 12px;
  border: 1.25px solid rgba(212, 175, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(212, 175, 55, 1);
}

.real-estate-card-icon-container {
  width: fit-content;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #fff;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(30, 41, 57);
}

.real-estate-luxury-container {
  width: fit-content;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.real-estate-component-icon {
  color: rgba(43, 127, 255, 1);
}

.real-estate-component-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}

@media screen and (max-width: 510px) {
  .featured-listings-card-container {
    width: 95%;
    margin-top: 0;
  }

  .featured-listings-card-image-container {
    width: 100%;
  }

  .real-estate-component-cost {
    font-size: 16px;
  }

  .featured-listings-title {
    font-size: 16px;
  }

  .featured-listings-time {
    font-size: 14px;
  }
}
