.buy-now-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buy-now-background-container {
  width: 100%;
  background:
    linear-gradient(
      90deg,
      rgba(212, 175, 55, 0.8) 0%,
      rgba(184, 148, 31, 0.8) 100%
    ),
    url('../../assets/buynow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.buy-now-heading {
  margin-top: 48px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
}

.buy-now-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.buy-now-grid-container {
  width: 90%;
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.buy-now-item-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1.25px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.buy-now-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #fff;
}

.buy-now-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.buy-now-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.buy-now-btns-container {
  width: 329px;
  height: 62px;
  border-radius: 32px;
  padding-right: 9.24px;
  background: rgba(255, 255, 255, 0.95);
  border: 1.25px solid rgba(212, 175, 55, 1);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: auto;
  margin-right: 32px;
}

.buy-now-btn-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 8px 14px;
  cursor: pointer;
}

.active-btn {
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  color: #fff;
  border-radius: 32px;
}

.buy-now-categories-container {
  width: 100%;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1.25px solid rgba(212, 175, 55, 1);
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.buy-now-search-filter-container {
  width: 90%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.buy-now-search-container {
  width: 75%;
  padding: 12px 16px;
  border-radius: 32px;
  border: 2px solid rgba(209, 213, 220, 1);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.buy-now-search-icon {
  width: 20px;
  height: 20px;
  color: rgba(44, 44, 44, 1);
  cursor: pointer;
}

.buy-now-input {
  width: 90%;
  border: none;
  outline: none;
}

.buy-now-filter-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buy-now-filter-btn {
  width: fit-content;
  height: auto;
  padding: 8px 14px;
  border-radius: 32px;
  border: 2px solid rgba(212, 175, 55, 1);
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(44, 44, 44, 1);
}

.buy-now-icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buy-now-grid-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(212, 175, 55, 1);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.buy-now-list-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(44, 44, 44, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.buy-now-category-btn-container {
  width: 75%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 32px;
}

.buy-now-category-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.buy-now-category-item-icon-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  color: rgba(54, 65, 83, 1);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.buy-now-category-item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.5px;
  color: rgba(54, 65, 83, 1);
}

.active-category-btn {
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: #fff;
}

@media screen and (max-width: 510px) {
  .buy-now-container {
    width: 100%;
  }

  .buy-now-background-container {
    width: 100%;
    gap: 16px;
  }

  .buy-now-heading {
    font-size: 24px;
  }

  .buy-now-text {
    font-size: 14px;
    text-align: center;
  }

  .buy-now-grid-container {
    width: 100%;
    gap: 16px;
    grid-template-columns: 1fr;
  }

  .buy-now-item-container {
    padding: 16px;
    gap: 14px;
  }

  .buy-now-title {
    font-size: 14px;
  }

  .buy-now-text {
    font-size: 12px;
  }

  .buy-now-btns-container {
    width: fit-content;
    height: 30px;
    padding: 6px 4px;
    margin-right: 0;
  }

  .buy-now-btn-container {
    padding: 4px 12px;
    font-size: 12px;
  }

  .buy-now-categories-container {
    width: 100%;
    padding: 0px 10px;
  }

  .buy-now-search-filter-container {
    width: 100%;
  }

  .buy-now-search-container {
    width: 60%;
  }

  .buy-now-filter-container {
    width: 40%;
  }

  .buy-now-filter-btn {
    width: fit-content;
    padding: 6px 10px;
    font-size: 10px;
  }

  .buy-now-grid-icon-container,
  .buy-now-list-icon-container {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  .buy-now-icons-container {
    gap: 3px;
  }

  .buy-now-category-btn-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .buy-now-category-item-icon-container {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  .buy-now-category-item-title {
    font-size: 6px;
  }
}
