.product-page-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-page-search-category-container {
  width: 90%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-page-search-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  border: 1.25px solid rgba(212, 175, 55, 0.5);
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  border-radius: 32px;
}

.product-page-search-container {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-search-icon {
  width: 20px;
  height: 20px;
  color: rgba(212, 175, 55, 1);
}

.product-search {
  width: 90%;
  border: none;
  outline: none;
}

.product-search::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.product-search-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 24px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.product-page-breadcrums-category-btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-page-bread-crums {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.product-category {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(212, 175, 55, 1);
}

.product-page-image-info-container {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.product-page-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-car {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.product-page-img-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.grid-img {
  width: 100%;
  height: 92px;
  border-radius: 4px;
}

.product-page-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.product-info-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-info-tags-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-verified-container {
  width: fit-content;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(239, 246, 255, 1);
  border: 1.25px solid rgba(190, 219, 255, 1);
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(20, 71, 230, 1);
}

.product-check-icon {
  width: 16px;
  height: 16px;
  color: rgba(21, 93, 252, 1);
}

.product-luxury-container {
  width: fit-content;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(30, 41, 57, 1);
  border: 1.25px solid rgba(190, 219, 255, 1);
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.product-crown-icon {
  width: 16px;
  height: 16px;
}

.product-info-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(44, 44, 44, 1);
}

.product-location {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(74, 85, 101, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-location-icon {
  width: 20px;
  height: 20px;
  color: rgba(212, 175, 55, 1);
}

.product-calender {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(106, 114, 130, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-info-price-container {
  width: 100%;
  background: linear-gradient(180deg, #fff8e7 0%, #ffffff 100%);
  border: 1.25px solid rgba(212, 175, 55, 1);
  border-radius: 16px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.product-info-price {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(212, 175, 55, 1);
}

.product-info-btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-info-enquire-btn {
  width: 50%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.product-info-chat-btn {
  width: 50%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1.25px solid rgba(212, 175, 55, 1);
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(212, 175, 55, 1);
}

.product-info-social-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.save-container {
  border: 1.25px solid rgba(209, 213, 220, 1);
  border-radius: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
  cursor: pointer;
}

.product-page-specifications-container {
  width: 90%;
  margin: 32px auto;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 24px;
}

.product-page-specifications {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-description-container {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border: 1.25px solid rgba(229, 231, 235, 1);
  border-radius: 16px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-description {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(44, 44, 44, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-document-icon {
  width: 24px;
  height: 24px;
  color: rgba(212, 175, 55, 1);
}

.product-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.product-grid-item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: auto;
}

.product-grid-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-brand {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.brand-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(30, 41, 57, 1);
}

.product-page-quick-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-page-safety-tips-container {
  width: 100%;
  background: linear-gradient(135deg, #fefce8 0%, #ffffff 100%);
  border: 1.25px solid rgba(253, 199, 0, 1);
  border-radius: 16px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tips-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(30, 41, 57, 1);
  display: flex;
  align-items: center;
  gap: 6px;
}

.error-icon {
  width: 24px;
  height: 24px;
  color: rgba(208, 135, 0, 1);
}

.product-page-points-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-page-point-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(54, 65, 83, 1);
}

.point-circle-icon {
  width: 16px;
  height: 16px;
  color: rgba(0, 166, 62, 1);
}

.product-quick-information-container {
  background: rgba(255, 255, 255, 1);
  border: 1.25px solid rgba(229, 231, 235, 1);
  padding: 26px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quick-info-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(30, 41, 57, 1);
}

.quick-info-justify-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quick-category {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.category-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(30, 41, 57, 1);
}
