.featured-listings-container {
  width: 90%;
  margin: 0 auto;
  border: 1.25px solid rgba(212, 175, 55, 0.3);
  background: rgba(255, 255, 255, 0.5);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featured-listings-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-listings-heading-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.crown-icon {
  width: 28px;
  height: 28px;
  color: rgba(212, 175, 55, 1);
}

.featured-listings-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(44, 44, 44, 1);
}

.featured-listings-arrow-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: rgba(10, 10, 10, 1);
  border: none;
  cursor: pointer;
}

.featured-listings-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media screen and (max-width: 510px) {
  .featured-listings-container {
    width: 98%;
    margin: 16px auto;
    border: none;
  }

  .crown-icon {
    width: 13.28px;
    height: 13.28px;
  }

  .featured-listings-heading {
    font-size: 13.29px;
    line-height: 17.72px;
  }

  .featured-listings-arrow-btn-container {
    display: none;
  }

  .featured-listings-grid-container {
    width: 100%;
    display: flex;
    gap: 3px;
    overflow-x: scroll;
  }
}
