.realestate-title {
  font-size: 5.51px;
  font-weight: 700;
  line-height: 8.27px;
  color: rgba(44, 44, 44, 1);
}

.realestate-time {
  font-size: 4.13px;
  font-weight: 400;
  line-height: 5.51px;
  color: rgba(106, 114, 130, 1);
}

@media screen and (max-width: 510px) {
  .featured-listings-card-image-container {
    width: 100%;
    height: 110px;
  }
}
