.mobile-footer-container {
  display: none;
}

@media screen and (max-width: 510px) {
  .mobile-footer-container {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 2px solid rgba(212, 175, 55, 1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
  }

  .mobile-footer-luxury-container {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.39px;
    color: rgba(74, 85, 101, 1);
    cursor: pointer;
  }

  .mobile-footer-list-item-container {
    width: fit-content;
    height: 100%;
    background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
    color: #fff;
    padding: 8px 16px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    font-size: 9px;
    cursor: pointer;
    font-weight: 700;
  }

  .mobile-footer-plus-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(200, 163, 45, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(74, 85, 101, 1);
    position: absolute;
    left: 42%;
    top: -50%;
    cursor: pointer;
  }

  .market-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 7px;
    line-height: 11.06px;
    color: rgba(212, 175, 55, 1);
    position: absolute;
    top: -110%;
    left: 28%;
    cursor: pointer;
  }

  .sell-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 7px;
    line-height: 11.06px;
    color: rgba(212, 175, 55, 1);
    position: absolute;
    top: -200%;
    left: 38%;
    cursor: pointer;
  }

  .hammer-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 7px;
    line-height: 11.06px;
    color: rgba(212, 175, 55, 1);
    position: absolute;
    top: -200%;
    left: 52%;
    cursor: pointer;
  }

  .tolet-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 7px;
    line-height: 11.06px;
    color: rgba(212, 175, 55, 1);
    position: absolute;
    top: -110%;
    left: 59%;
    cursor: pointer;
  }
}
