.real-estate-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(212, 175, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.real-estate-content-container {
  display: flex;
  flex-direction: column;
}

.real-estate-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(106, 114, 130, 1);
}

.real-estate-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(251, 44, 54, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
