.mobile-navbar-container {
  display: none;
}

@media screen and (max-width: 510px) {
  .mobile-navbar-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
  }

  .mobile-nav-logo-links-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-logo {
    width: 70px;
    height: 27px;
    cursor: pointer;
  }

  .mobile-nav-links-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .mobile-nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }

  .mobile-nav-links-container a {
    text-decoration: none;
    color: rgba(212, 175, 55, 1);
    font-size: 9px;
  }

  .mobile-nav-logo {
    width: 14px;
    height: 14px;
  }

  .mobile-nav-login-burger-container {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .mobile-country-btn {
    width: fit-content;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 3px;
    background: rgba(255, 255, 255, 0);
    border: 0.54px solid rgba(212, 175, 55, 1);
    box-shadow: 0px 0.86px 1.72px -0.86px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1.72px 2.58px -0.43px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    font-size: 6.5px;
    font-weight: 700;
    color: rgba(44, 44, 44, 1);
  }

  .mobile-globe-icon {
    width: 6.8px;
    height: 6.8px;
    color: rgba(212, 175, 55, 1);
  }

  .mobile-menu-icon {
    width: 15px;
    height: 15px;
    color: rgba(44, 44, 44, 1);
    cursor: pointer;
  }

  .mobile-nav-search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-search-container {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1.25px solid rgba(212, 175, 55, 1);
    border-radius: 32px;
    height: 30px;
    padding: 4px 8px;
  }

  .mobile-search-icon {
    width: 14px;
    height: 14px;
    color: rgba(212, 175, 55, 1);
  }

  .mobile-input {
    width: 90%;
    border: none;
    outline: none;
  }

  .mobile-input::placeholder {
    font-size: 12px;
    color: rgba(212, 175, 55, 1);
  }

  .mobile-icons-login-container {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .mobile-location-icon {
    width: 20px;
    height: 20px;
    color: rgba(184, 148, 31, 1);
    cursor: pointer;
  }

  .mobile-login-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 32px;
    border: none;
    color: #fff;
    background: rgba(212, 175, 55, 1);
    box-shadow: 0px 1.01px 2.02px -1.01px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2.02px 3.03px -0.51px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 8px;
    font-weight: 400;
    padding: 4px 8px;
  }
}
