.hero-banner-container {
  width: 100%;
  height: 500px;
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('../../assets/hero-background.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-icon-container {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  width: 505px;
  border: 2px solid rgba(209, 213, 220, 1);
  border-radius: 32px;
  margin-left: 180px;
  margin-bottom: 120px;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.search-input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.hero-banner-content-container {
  width: 90%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-banner-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

.hero-banner-text {
  width: 709px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.hero-banner-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.hero-banner-grid-item-one-container {
  background: rgba(0, 0, 0, 0.6);
  border: 0.96px solid rgba(212, 175, 55, 0.5);
  box-shadow: 0px 19.11px 38.23px -9.17px rgba(0, 0, 0, 0.25);
  border-radius: 12.23px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-banner-item-one-content-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-banner-item-one-active-container,
.hero-banner-item-one-verified-container,
.hero-banner-item-one-categories-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.hero-banner-item-title {
  font-size: 10.7px;
  font-weight: 400;
  line-height: 15.29px;
  color: rgba(209, 213, 220, 1);
}

.hero-banner-item-one-heading {
  font-size: 22.94px;
  font-weight: 700;
  line-height: 27.52px;
  color: rgba(212, 175, 55, 1);
}

.hero-banner-item-two-heading {
  font-size: 22.94px;
  font-weight: 700;
  line-height: 27.52px;
  color: rgba(255, 255, 255, 1);
}

.hero-banner-item-one-btn-container {
  display: flex;
  align-items: center;
  gap: 9px;
}

.explore-btn {
  width: 176px;
  height: 36.68px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 6.12px 7.65px -4.59px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15.29px 19.11px -3.82px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 32px;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 12.23px;
  font-weight: 700;
  line-height: 18.35px;
  color: #fff;
}

.item-btn {
  width: 133.11px;
  height: 38.59px;
  border: 0.96px solid rgba(255, 255, 255, 1);
  padding: 16px 8px;
  background-color: transparent;
  border-radius: 32px;
  font-size: 12.23px;
  font-weight: 400;
  line-height: 18.35px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-banner-grid-item-two-container {
  padding: 16px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 50%, #d4af37 100%);
  border: 0.95px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 18.95px 37.9px -9.1px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 12.13px;
}

.limited-offer-container {
  width: fit-content;
  height: 33.34px;
  padding: 7px 12.13px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 13.65px;
  font-weight: 700;
  line-height: 21.23px;
  color: #fff;
  cursor: pointer;
}

.special-offer-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.special-offer-heading {
  font-size: 18.19px;
  font-weight: 700;
  line-height: 24.26px;
  color: #fff;
}

.special-offer-text {
  font-size: 10.61px;
  font-weight: 400;
  line-height: 15.16px;
  color: rgba(255, 255, 255, 0.9);
}

.discount-container {
  display: flex;
  flex-direction: column;
}

.discount-text {
  font-size: 9.1px;
  font-weight: 400;
  line-height: 12.13px;
  color: rgba(255, 255, 255, 0.8);
}

.discount-number {
  font-size: 22.74px;
  font-weight: 700;
  line-height: 27.29px;
  color: #fff;
}

.claim-offer-btn {
  width: fit-content;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6.06px 7.58px -4.55px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15.16px 18.95px -3.79px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  font-size: 12.13px;
  font-weight: 700;
  line-height: 18.19px;
  color: rgba(212, 175, 55, 1);
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .hero-banner-container {
    width: 100%;
    height: auto;
  }

  .search-icon-container {
    display: none;
  }

  .hero-banner-content-container {
    width: 100%;
    padding: 0px 10px;
  }

  .hero-banner-heading {
    font-size: 18.15px;
    line-height: 22.69px;
  }

  .hero-banner-text {
    width: 268px;
    font-size: 10px;
    line-height: 10.59px;
  }

  .hero-banner-grid-container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .hero-banner-grid-item-one-container {
    width: 100%;
    height: auto;
    border-radius: 6.05px;
    padding: 6px;
  }

  .hero-banner-item-title {
    font-size: 5.29px;
    line-height: 7.56px;
  }

  .hero-banner-item-one-heading {
    font-size: 11.34px;
    line-height: 13.61px;
  }

  .hero-banner-item-two-heading {
    font-size: 11.34px;
    line-height: 13.61px;
  }

  .explore-btn {
    width: 87px;
    height: 18.14px;
    padding: 4px 8px;
    font-size: 6.05px;
    line-height: 9.07px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
  }

  .item-btn {
    width: 65.83px;
    height: 18.14px;
    padding: 4px 8px;
    font-size: 6.05px;
    line-height: 9.07px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
  }

  .hero-banner-grid-item-two-container {
    width: 100%;
    height: auto;
    border-radius: 6.05px;
    padding: 6px;
    display: flex;
    align-items: center;
  }

  .limited-offer-container {
    width: fit-content;
    height: auto;
    padding: 4px 6px;
    font-size: 5px;
    line-height: 10.59px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
  }

  .special-offer-heading {
    font-size: 9.07px;
    line-height: 12.1px;
  }

  .special-offer-text {
    font-size: 5.29px;
    line-height: 7.56px;
  }

  .discount-text {
    font-size: 4.54px;
    line-height: 6.05px;
  }

  .discount-number {
    font-size: 11.34px;
    line-height: 13.61px;
  }

  .claim-offer-btn {
    width: 50.73px;
    height: 18.14px;
    padding: 4px 8px;
    font-size: 5.85px;
    line-height: 9.07px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}
