.buy-sell-container {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.buy-container {
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1.25px solid rgba(212, 175, 55, 1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buy-icon-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buy-icon-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
}

.buy-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}

.buy-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buy-list-item-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.buy-btn {
  width: 258px;
  height: 56px;
  border: none;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .buy-sell-container {
    width: 98%;
    margin: 0px auto;
    gap: 4px;
  }

  .buy-container {
    width: 100%;
    padding: 16px 10px;
  }

  .buy-icon-container {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .buy-heading {
    font-size: 14px;
    line-height: 18.61px;
  }

  .buy-text {
    font-size: 8px;
    line-height: 14.47px;
  }

  .buy-list-item-container {
    font-size: 8.27px;
    line-height: 12.4px;
  }

  .dot {
    width: 4.13px;
    height: 4.13px;
  }

  .buy-btn {
    width: 133.66px;
    height: 28.93px;
    font-size: 8.27px;
    line-height: 12.4px;
  }
}
