.auction-card-open-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  border-radius: 32px;
  background: rgba(0, 201, 80, 1);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.auction-card-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.auction-card-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
  position: absolute;
  bottom: 0px;
}

.auction-card-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.auction-card-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(212, 175, 55, 1);
}

.auction-card-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auction-card-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.auction-card-icon {
  width: 16px;
  height: 16px;
  color: rgba(212, 175, 55, 1);
}

.register-now-btn {
  width: 95%;
  margin: 0 auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 14px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
