.real-estate-component-container {
  width: 90%;
  margin: 32px auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.real-estate-component-view-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(212, 175, 55, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.real-estate-component-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
