.privacy-policy-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.privacy-policy-background {
  width: 100%;
  background: linear-gradient(180deg, #1a1a1a 0%, #2c2c2c 100%);
  padding: 80px 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.privacy-policy-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}

.shield-icon {
  color: rgba(212, 175, 55, 1);
}

.privacy-policy-text {
  width: 767px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(209, 213, 220, 1);
}

.last-updated {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(153, 161, 175, 1);
}

.privacy-policy-content-container {
  width: 60%;
  margin: 32px auto;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.introduction-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(10, 10, 10, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}

.eye-icon {
  width: 24px;
  height: 24px;
  color: rgba(212, 175, 55, 1);
}

.introduction-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.introduction-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.introduction-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.introduction-item-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.introduction-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(54, 65, 83, 1);
}

.introduction-item-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.introduction-item-container p span {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.introduction-footer-container {
  width: 100%;
  background: rgba(255, 251, 235, 1);
  border-left: 3.75px solid rgba(212, 175, 55, 1);
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(30, 41, 57, 1);
}

.personal-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-data-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(10, 10, 10, 1);
  display: flex;
  align-items: center;
  gap: 12px;
}

.personal-data-sub-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(30, 41, 57, 1);
}

.personal-data-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.personal-data-points-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
}

.personal-data-point {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.includes-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.personal-details-container {
  width: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.personal-details-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(30, 41, 57, 1);
}

.personal-details-points-container {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.personal-details-points-container span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.personal-details-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.note {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  color: rgba(74, 85, 101, 1);
}

.sub-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.sub-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(54, 65, 83, 1);
}

.personal-data-footer-container {
  width: 100%;
  padding: 16px 16px 16px 20px;
  background: rgba(255, 251, 235, 1);
  border-left: 3.75px solid rgba(212, 175, 55, 1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(30, 41, 57, 1);
}

.database-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.database-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(54, 65, 83, 1);
}

.sub-span {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(212, 175, 55, 1);
}

.privacy-policy-footer-container {
  width: 60%;
  margin: 0px auto 48px auto;
  background: linear-gradient(90deg, #fffbeb 0%, #f9fafb 100%);
  border: 1.25px solid rgba(212, 175, 55, 1);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.privacy-footer-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(30, 41, 57, 1);
}

.privacy-footer-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.privacy-footer-info-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(30, 41, 57, 1);
}

.privacy-footer-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(30, 41, 57, 1);
}

.privacy-footer-address-container {
  width: 100%;
  border-top: 1.25px solid rgba(212, 175, 55, 0.3);
  padding-top: 13.24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-info-address-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-info-address-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}

.footer-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(212, 175, 55, 1);
}

@media screen and (max-width: 510px) {
  .privacy-policy-container {
    width: 100%;
  }

  .privacy-policy-background {
    width: 100%;
    padding: 32px 18px;
  }

  .privacy-policy-heading {
    font-size: 32px;
  }

  .privacy-policy-text {
    width: 100%;
    font-size: 16px;
  }

  .privacy-policy-content-container {
    width: 100%;
    padding: 32px 18px;
  }

  .introduction-heading {
    font-size: 24px;
  }

  .personal-data-heading {
    font-size: 24px;
  }

  .personal-data-sub-heading {
    font-size: 20px;
  }

  .privacy-policy-footer-container {
    width: 95%;
    margin: 0px auto 32px auto;
  }
}
