.refund-policy-tag-container {
  width: 100%;
  background: rgba(255, 251, 235, 1);
  border-left: 3.75px solid rgba(212, 175, 55, 1);
  border-radius: 4px;
  padding: 24px 24px 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.refund-policy-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(30, 41, 57, 1);
}

.refund-policy-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(54, 65, 83, 1);
}
