.market-place-background-container {
  width: 100%;
  background: url('../../assets/apartment.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 18px;
}
