.auction-container {
  width: 90%;
  margin: 48px auto;
  background: linear-gradient(180deg, #d4af37 0%, #f4d03f 50%, #d4af37 100%);
  border: 1.25px solid rgba(212, 175, 55, 1);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
}

.auction-heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
}

.auction-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
  margin: 16px 0px;
}

.experience-container {
  width: 60%;
  height: auto;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.experience-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(44, 44, 44, 1);
}

.experience-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(74, 85, 101, 1);
}

.experience-icon-content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.experience-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.auction-icon {
  width: 48px;
  height: 40px;
  font-size: 40px;
  color: rgba(212, 175, 55, 1);
}

.auction-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(44, 44, 44);
}

.auction-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(74, 85, 101, 1);
}

.auction-btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 24px 0px;
}

.start-buying-btn {
  width: 242px;
  height: 60px;
  border-radius: 32px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
}

.list-your-item-btn {
  width: 210px;
  height: 60px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1.25px solid rgba(212, 175, 55, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(212, 175, 55, 1);
  cursor: pointer;
}

.auction-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(106, 114, 130, 1);
}

.premium-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(212, 175, 55, 1);
}
