.about-us-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-us-background {
  width: 100%;
  height: 390px;
  background: url('../../assets/about-us.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.about-star-icon {
  width: 64px;
  height: 64px;
}

.about-us-heading {
  font-synthesis-small-caps: 60px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

.about-us-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(209, 213, 220, 1);
}
